header{
  padding: 16px;
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  .menu-button{
    img{
      height: 32px;
      width: 32px;
    }
  }
  .menu-avatar{
    img{
      height: 48px;
      width: 48px;
    }
  }
}

.profile header{
  height: 150px;
  background: #232323 url('../../dist/profile-cover.jpg') center no-repeat;
  background-size: cover;
}

