header{
  display: flex;
  align-items: center;
  padding: 16px 32px;
  box-shadow: 0px 4px 12px rgba(0,0,0,0.10);
  background: $white;
}
.logo{
  color: $primary-color;
}
.left-menu{
  display: flex;
  margin-left: 64px;
  a{
    margin: 0 16px;
    color: $gray-dark;
    &.active{
      color: $primary-color;
    }
  }
}
.right-menu{
  margin-left: auto;
  display: flex;
  .cta{
    .add-survey{
      padding: 8px 16px;
      background: $primary-color;
      color: $white;
      border-radius: 4px;
      i{
        margin-right: 4px;
        font-size: 24px;
        &:before{
          vertical-align: middle;
        }
      }
    }
  }
  .account{
    margin-left: 32px;
  }
}
.dropdown-wrapper{
  position: relative;
}
.dropdown{
  color: $gray-dark;
  i:before{
    border: 2px solid $gray-dark;
    border-radius: 50%;
    padding: 2px;
    font-size: 24px;
    vertical-align: middle;
    margin-right: 4px;
  }
  &.active{
    color: $primary-color;
    i:before{
      border-color: $primary-color;
    }
    & + .dropdown-contents{
      display: block;
    }
  }
}
.dropdown-contents{
  display: none;
  position: absolute;
  top: 32px;
  right: 0;
  width: 210px;
  padding: 16px;
  background: #f5f5f5;
  a{
    display: block;
  }
}