.welcome{
  margin-bottom: 24px;
  padding: 0 16px;
}
.kpi{
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  margin-bottom: 24px;
}
.kpi-item{
  flex-basis: 50%;
  border: 1px solid #ccc;
  padding: 16px;
  h2{
    color: #333;
    font-size: 32px;
    span{
      color: #999;
      font-size: 18px;
    }
  }
  p{
    color: #666;
    font-size: 12px;
  }
}
.temperature h2 span{
  font-size: 32px;
}
.morning-activity{
  padding: 0 16px;
}