.welcome{
  margin-bottom: 16px;
  padding: 0 16px;
  span{
    color: #46accb;
  }
}
.kpi{
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  margin-bottom: 16px;
}
.kpi-item{
  flex-basis: 50%;
  border: 1px solid #ccc;
  padding: 16px;
  h2{
    color: #333;
    font-size: 32px;
    font-weight: 300;
    span{
      color: #999;
      font-size: 18px;
    }
  }
  p{
    color: #666;
    font-size: 12px;
  }
}
.temperature{
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  h2 span{
    font-size: 32px;
  }
}
.calories{
  border-bottom-color: transparent;
  border-right-color: transparent;
}
.bpm{
  border-left-color: transparent;
  border-right-color: transparent;
}
.steps{
  border-right-color: transparent;
}
.morning-activity{
  h1,
  p{
    padding: 0 16px;
  }
  padding: 0;
  position: relative;
  .chart-wrapper{
    opacity: 0.6;
  }
  .VictoryContainer{
    width: 100% !important;
    height: 157px !important;
  }
}