
// progress bar appearance
$background-color:#3d5980;
$bar-empty:#55708d;
$bar-color:#cfd6dd;

$glow-width:60px;
$glow-radius:10px;
$glow-color:#04bfff;


.profile{
  background: #38527b;
  color: #fff;
  min-height: 100vh;
}

.progress-wrapper{
  background: $background-color;
}
.progress-title{
  padding: 16px;
  margin-bottom: 8px;
  opacity: 0.4;
}
.progress-item{
  margin-bottom: 24px;
}
.progress-bar {
  height:3px;
  width:100%;
  position:relative;
  z-index:10;

  background-color:$bar-empty;
  
  .progress {
    position:relative;
    height:100%;
    background-color:$bar-color;
    transition:width 0.5s ease-out;
    border-radius: 0px 2px 2px 0px;
  }
  .glow {
    width:$glow-width;
    max-width:100%;
    height:100%;
    float:right;

  }
  .glow::before,
  .glow::after {
    content:'';
    display:block;
    position:relative;
    border-radius:0px 2px 2px 0px;
  }
  .glow::before {
    background:transparent;
    height:100%;
    box-shadow:0px 0px $glow-radius $bar-color, 0px 0px $glow-radius $glow-color;
    z-index:-5;
  }
  .glow::after {
    background:linear-gradient(to right, $background-color 0%, transparent 100%);
    height:calc(100% + #{$glow-radius} + #{$glow-radius});
    width:calc(100% + #{$glow-radius});
    top:(-$glow-radius);
    left:(-$glow-radius);
    z-index:-3;
  }
}

// messages 
.label {
  font-family:inherit;
  color:white;
  font-size: 16px;
  margin-bottom: 16px;
  display: flex;
  justify-content: space-between;
  .label-value{
    opacity: 0.4;
  }
}

// animations
.fill-1 {
  animation:fill-1 0.5s ease-out 0s;
  animation-fill-mode:forwards;    
  width:0%;
}
.fill-2 {
  animation:fill-2 0.5s ease-out 0.5s;
  animation-fill-mode:forwards;   
  width:0%;
}
.fill-3 {
  animation:fill-3 0.5s ease-out 1s;
  animation-fill-mode:forwards;   
  width:0%;
}
@keyframes fill-1 {
  0% { width:0%; }
  100% { width:70%; }
}
@keyframes fill-2 {
  0% { width:0%; }
  100% { width:40%; }
}
@keyframes fill-3 {
  0% { width:0%; }
  100% { width:90%; }
}
.label.one {
  animation:label 0.5s ease-out 0s;
  animation-fill-mode:forwards;   
  opacity:0;
}
.label.two {
  animation:label 0.5s ease-out 0.5s;
  animation-fill-mode:forwards;   
  opacity:0;
}
.label.three {
  animation:label 0.5s ease-out 1.0s;
  animation-fill-mode:forwards;
  opacity:0;
}
@keyframes label {
  0% { opacity:0; transform:translateY(20px); }
  100% { opacity:0.9; transform:translateY(0); }
}